html {
      box-sizing: content-box;
}

body.container {
      margin-right:0%;
      width:100%;
    }

.container {
      width:100%;
      margin-left:auto;
      margin-right:0%;
      padding-left:0px;
      padding-right:0px;
    }

.blogLinkFormat a {
      text-decoration:none; 
      color:#333333;
    }

.blogLinkFormat a:hover {
      color:#000000;
    }

.nav.navbar-nav.navbar-right a {
    color:#ffffff;
    }

.nav.navbar-nav.navbar-right a:hover {
    color:#333333;
    }

#nameHeader {
    color:#ffffff;
    }
    
.aboutImage {
    margin-top:6%;
    width:30%; 
    margin-left:auto; 
    margin-right:auto;
    border: 2px solid #92CECC;
    border-radius: 100%;
    }

    #portfolioSection {
      margin-top:3%;
    }

    .modalImage {
      width:50%;
      margin-top:2%;
      margin-left:auto;
      margin-right:auto;
    }

    .modalText {
      margin-bottom:2%;
      margin-top:2%;
      width:80%;
      text-align:center;
      margin-left:auto;
      margin-right:auto;
    }

    .modalContent {
      width:50%;
    }

    #socialMedia {
      margin-bottom:2%;
    }

    #sendButton {
      background-color:#333333;
      border-color: #333333;
    }

    #contactMe {
      margin-left:2%;
      margin-right:2%;
    }

    .portfolioRow {
      margin-left:auto;
      margin-right:auto;
    }

@media only screen and (max-width: 736px) {
          h1 {
            font-size:220%;
          }

          .headingWords {
            font-size:150%;
          }

          h3 {
            font-size:100%;
          }
          .navbar-brand {
            font-size:200%;
            color:#ffffff; 
            font-family: 'Atomic Age', cursive;

          }
          #navbar-collapse {
            font-size: 60%;
            color:#ffffff;
          }
          p {
            font-size:120%;
            margin-left:3%;
          }
          #blogHeader {
            font-size:125%;
          }
          #blogHomePageHeader {
            font-size:120%;
          }
          .blogHomePageBody {
            font-size:75%;
          }
          .aboutImage {
            width:50%;
          }
          .portfolioImage {
            width:120%;
            margin-right:auto;
          }

          .portfolioButton {
            background-color:#ffffff;
            border:none;
            height:80%;
            width:80%;
            margin-bottom:5%;
            margin-left:5%;
            padding-left:0;
            padding-right:0;
            padding-bottom:0;
            padding-top:0;
         
          }

           .portfolioButton:hover{
            border:3px solid #616F7F;
            height:80%;
            width:80%;
            margin-bottom:5%;
            margin-left:5%;
            padding-left:0;
            padding-right:0;
            padding-bottom:0;
            padding-top:0;
         
          }

          .portfolioRow {
            margin-left:auto;
            margin-right:auto;
          }

          #portfolioColumn {
            padding-left:auto;
            padding-right:auto;
          }

        }

@media only screen and (min-width: 736px) {

          h1 {
            font-size:350%;
          }

          .headingWords {
            font-size:130%;
          }

          h3 {
            font-size:175%;
          }
         
         #desktopMenu {
            height:15%;
            padding-left:5%;
            padding-right:5%;
            padding-top:2%;
            padding-bottom:2%;
         }
         #bs-example-navbar-collapse-1.collapse.navbar-collapse {
            height:15%;
            font-size:140%;
         }
         .navbar-header {
            height:15%;
         }

         .navbar-brand {
            font-size:300%;
            color:#ffffff; 
            font-family: 'Atomic Age', cursive;
          }

          #navbar-collapse {
            font-size: 140%;
            color:#ffffff; 
          }
          
          .blogHomePageBody {
            font-size:120%;
          }

          p {
            font-size:140%;
            padding-left:5%;
            padding-right:5%;
          }
          .portfolioImage {
            width:100%;

          }

          .portfolioButton {
            background-color:#ffffff;
            border:none;
            height:40%;
            width:40%;
            margin-left:6%;
            margin-bottom:6%;

          }

           .portfolioButton:hover{
            border:3px solid #616F7F;
            height:40%;
            width:40%;
            margin-left:6%;
 
          }
   }